@import (reference) "../../../shared/colours.less";

.query-bar
{
    .query-bar-input
    {
        width: 800px;
        margin: auto;
    }

    .info-zone
    {
        width: 800px;
        font-size: 14px;
        opacity: .8;
        margin: auto;
        margin-top: 10px;

        img
        {
            height: 18px;
            vertical-align: middle;
            margin: 0 5px 0 5px;
        }
    }
}