@import (reference) "../../../shared/colours.less";

.image-link-editor
{
    &:extend(.brown-bordered-window);
    width: 600px;
    min-height: 300px;

    // CHANGE LATER FOR REAL POSITIONING
    position: fixed;
    top: 10vh;
    left: 20vw;

    .image-link-edit-row
    {
        display: flex;

        .split-side
        {
            display: inline-block;
            width: 45%;
            font-size: 17px;
            word-break: break-all;
            line-height: 1.2;
            letter-spacing: 1px;
            padding: 0 8px 0 8px;
            box-sizing: border-box;
        }

        .arrow-point
        {
            display: inline-flex;
            width: 10%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .edit-contain
        {
            position: relative;

            .edit-zone
            {
                outline: none;

                &::selection
                {
                    background-color: @dark-brown;
                    color: @off-white-yellow;
                }
            }

            .bracket-border
            {
                position: absolute;
                height: 100%;
                width: 5px;
                top: 0;
                border: 1px solid @dark-brown;
                box-sizing: border-box;

                &.left
                {
                    left: 0;
                    border-right: none;
                }

                &.right
                {
                    right: 0;
                    border-left: none;
                }
            }
        }
    }
}