@import (reference) "../../../shared/colours.less";

.tag-editor
{
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 20px;
}

.editor-tag
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 11px 12px 8px 12px;
    margin: 3px;
    border: 1px solid fade(@off-white-yellow,30%);
    opacity: .8;
    cursor: pointer;
    user-select: none;

    &:hover
    {
        opacity: 1;
    }

    &.selected
    {
        border-color: @select-orange;
        opacity: 1;

        .name
        {
            font-style: normal;
            color: @select-bright-orange;
        }
    }

    .name
    {
        font-style: italic;
        max-width: 160px;
        max-height: 60px;
        line-height: 1.21;
    }

    .count
    {
        min-height: 22px;
    }
}

.tag-editor .tag-editor-input
{
    width: 100%;
    height: 45px;
    font-size: 24px;
    padding: 0px 14px 0px 14px;
    box-sizing: border-box;
    background-color: fade(@dark-back-purple,50%);
    border-bottom: 1px solid fade(@off-white-yellow,60%);
}

.tag-editor .tag-edit-button
{
    display: inline-flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    opacity: .8;

    &:hover
    {
        background-color: fade(@off-white-yellow,10%);
    }

    &:active
    {
        opacity: 1;
    }

    img
    {
        width: 35px;
    }

    p
    {
        font-size: 12px;
    }
}