@default-fonts: "游ゴシック体","YuGothic","游ゴシック Medium",
    "Yu Gothic Medium","游ゴシック","Yu Gothic","メイリオ","sans-serif";

@dark-brown: #3c2819;
@darker-brown: #3c2819; //change this to something real

@off-white-yellow: #f7f6f0;
@transparent-white: rgba(255, 255, 255, 0.5);
@middle-transparent-white: rgba(255, 255, 255, 0.3);
@really-transparent-white: rgba(255, 255, 255, 0.1);

@nhentai-pink: #ed2553;