@charset "UTF-8";

@import (reference) "../shared/colours.less";

body
{
    font-family: @default-fonts;
    background-color: @dark-brown;
    color: @off-white-yellow;
    margin: 0;
}

h1
{
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: .7px;
    margin-bottom: 7px;
}

p
{
    margin: 0;
    font-size: 14px;
}

a
{
    color: inherit;
    text-decoration: none;

    &:hover
    {
        opacity: .8;
    }
}

html,body,.main,.content-window
{
    width: 100%;
    height: 100%;
}

.main
{
    .content-window
    {
        overflow: auto;

        .content
        {
            margin: 10px;
        }

        &.cloaked
        {
            overflow: hidden;
        }
    }
}

.menu-cloak
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: @dark-brown-fade;
}

.type-tag
{
    &.nhentai
    {
        color: @nhentai-pink;
    }

    &.other
    {
        opacity: .5;
    }
}

.input-inherit
{
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-shadow: inherit;
    display: block;
    text-align: inherit;
    background: transparent;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}