@charset "UTF-8";

@import (reference) "../shared/colours.less";

body
{
    font-family: @default-fonts;
    background-color: @dark-brown;
    color: @off-white-yellow;
}

h1
{
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: .7px;
    margin-bottom: 7px;
}

p
{
    margin: 0;
    font-size: 14px;
}

a
{
    color: inherit;
    text-decoration: none;

    &:hover
    {
        opacity: .8;
    }
}

.type-tag
{
    &.nhentai
    {
        color: @nhentai-pink;
    }

    &.other
    {
        opacity: .5;
    }
}