@charset "UTF-8";

@import (reference) "../shared/colours.less";

@default-fontsize: 12px;

body
{
    width: 370px;
    margin: 0;
    background-color: @dark-brown;
    color: white;
    font-family: "游ゴシック体","YuGothic","游ゴシック Medium",
        "Yu Gothic Medium","游ゴシック","Yu Gothic","メイリオ","sans-serif";
    font-size: 0;
}

.main
{

}

// area containing elements for creating a new entry
.add-entry-zone
{
    display: flex;

    .entry-rows
    {
        width: 300px;

        .entry-row
        {
            padding: 0 10px 3px 10px;
            line-height: 1.5;

            &:first-of-type
            {
                padding-top: 10px;
            }

            &:last-of-type
            {
                padding-bottom: 10px;
            }

            &:hover
            {
                background-color: @darker-brown;
            }

            .entry-name
            {
                display: inline-block;
                width: 20%;
                font-size: @default-fontsize;
            }

            .entry-content
            {
                display: inline-block;
                width: 80%;
                vertical-align: top;
                font-size: @default-fontsize;
            }
        }
    }

    .submit-zone
    {
        position: relative;
        width: 70px;
        cursor: pointer;

        .submit-icon-hold
        {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            justify-content: center;

            &.top
            {
                background-color: @dark-brown;
                transition: opacity .15s;

                &:hover
                {
                    opacity: 0;
                }

                &:focus
                {
                    opacity: .8;
                }
            }

            &.bottom
            {
                background-color: white;
            }

            .submit-plus
            {
                width: 40px;
            }
        }
    }
}

.entryviewer-link
{
    display: block;
    height: 30px;
    box-sizing: border-box;
    padding-top: 2px;
    border-top: 1px dotted @transparent-white;
    cursor: pointer;
    text-align: center;

    &:hover
    {
        background-color: @really-transparent-white;
    }

    img
    {
        width: 25px;
    }
}